<ul class="list-group">
    <li class="fw-semibold text-dark text-uppercase mx-9 my-3 px-3 fs-2">
      INVENTÁRIO
    </li>
    <li class="list-group-item border-0 p-0 mx-9">
      <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="{{ route }}">
        <i class="ti ti-inbox fs-5"></i>Visão geral 
      </a>
    </li>
    <li class="border-bottom my-3"></li>
    {% if 'INVENTORY_BATCH_CREATE'|hasRole %}
    <li class="fw-semibold text-dark text-uppercase mx-9 my-3 px-3 fs-2">
      LOTES
    </li>
    <li class="list-group-item border-0 p-0 mx-9">
      <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="{{ route }}/new-batch">
        <i class="ti ti-inbox fs-5"></i>Novo lote
      </a>
    </li>
    <li class="border-bottom my-3"></li>
    {% endif %}
    {% if ['INVENTORY_ORDER_VIEW','INVENTORY_ORDER_CREATE']|inRoles %}
    <li class="fw-semibold text-dark text-uppercase mx-9 my-3 px-3 fs-2">
      PEDIDOS
    </li>
        {% if 'INVENTORY_ORDER_CREATE'|hasRole %}
        <li class="list-group-item border-0 p-0 mx-9">
        <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="{{ route }}/order">
            <i class="ti ti-inbox fs-5"></i>Novo pedido
        </a>
        </li>
        {% endif %}
        {% if 'INVENTORY_ORDER_VIEW'|hasRole %}
        <li class="list-group-item border-0 p-0 mx-9">
        <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="{{ route }}/order/overview">
            <i class="ti ti-inbox fs-5"></i>Meus pedidos
        </a>
        </li>
        {% endif %}
        <li class="list-group-item border-0 p-0 mx-9">
        <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="{{ route }}/order/overview-pending">
            <i class="ti ti-inbox fs-5"></i>Pendentes de aprovação
        </a>
        </li>
        <li class="list-group-item border-0 p-0 mx-9">
        <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="{{ route }}/order/overview-receiving">
            <i class="ti ti-inbox fs-5"></i>Pendentes de recebimento
        </a>
        </li>
        <li class="border-bottom my-3"></li>
    {% endif %}
    <li class="fw-semibold text-dark text-uppercase mx-9 my-2 px-3 fs-2">
      MOVIMENTAÇÕES
    </li>
    <li class="list-group-item border-0 p-0 mx-9">
      <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-8 mb-1 rounded-1" href="{{ route }}/history">
        <i class="ti ti-star fs-5"></i>Histórico de movimentações
      </a>
    </li>
    <li class="border-bottom my-3"></li>
  </ul>