
            <!-- ---------------------------------- -->
            <!-- Dashboard -->
            <!-- ---------------------------------- -->
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{ url_site }}" id="get-url">
                <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>

            <li class="nav-small-cap">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">Administração</span>
              </li>
              <!-- ---------------------------------- -->
              <!-- Dashboard -->
              <!-- ---------------------------------- -->
              {% if 'UNIT_VIEW'|hasRole %}
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_site }}/admin/administrative-units" id="get-url">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Unidades administrativas</span>
                </a>
              </li>
              {% endif %}
              {% if 'INST_VIEW'|hasRole %}
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_site }}/admin/institutions" id="get-url">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Instituições</span>
                </a>
              </li>
              {% endif %}
              {% if 'MEDICINE_VIEW'|hasRole %}
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_site }}/admin/medicines" id="get-url">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Medicamentos</span>
                </a>
              </li>
              {% endif %}
              {% if 'PROFILE_VIEW'|hasRole %}
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_site }}/admin/profiles" id="get-url">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Perfils de acesso</span>
                </a>
              </li>
              {% endif %}
              {% if 'USER_VIEW'|hasRole %}
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_site }}/admin/users" id="get-url">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Usuários</span>
                </a>
              </li>
              {% endif %}