
              <!-- =================== -->
              <!-- Dashboard -->
              <!-- =================== -->
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_site }}" aria-expanded="false">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Administração</span>
                </a>

                <ul aria-expanded="false" class="collapse first-level">
                  {% if 'NOTICE_VIEW'|hasRole %}
                  <li class="sidebar-item">
                    <a href="{{ url_site }}/admin/notice" class="sidebar-link">
                      <i class="ti ti-circle"></i>
                      <span class="hide-menu">Avisos</span>
                    </a>
                  </li>
                  {% endif %}
                  {% if 'UNIT_VIEW'|hasRole %}
                  <li class="sidebar-item">
                    <a href="{{ url_site }}/admin/administrative-units" class="sidebar-link">
                      <i class="ti ti-circle"></i>
                      <span class="hide-menu">Unidades administrativas</span>
                    </a>
                  </li>
                  {% endif %}
                  {% if 'INST_VIEW'|hasRole %}
                  <li class="sidebar-item">
                    <a href="{{ url_site }}/admin/institutions" class="sidebar-link">
                      <i class="ti ti-circle"></i>
                      <span class="hide-menu">Instituições</span>
                    </a>
                  </li>
                  {% endif %}
                  {% if 'MEDICINE_VIEW'|hasRole %}
                  <li class="sidebar-item">
                    <a href="{{ url_site }}/admin/medicines" class="sidebar-link">
                      <i class="ti ti-circle"></i>
                      <span class="hide-menu">Medicamentos</span>
                    </a>
                  </li>
                  {% endif %}
                  {% if 'PROFILE_VIEW'|hasRole %}
                  <li class="sidebar-item">
                    <a href="{{ url_site }}/admin/profiles" class="sidebar-link">
                      <i class="ti ti-circle"></i>
                      <span class="hide-menu">Perfils de acesso</span>
                    </a>
                  </li>
                  {% endif %}
                  {% if 'USER_VIEW'|hasRole %}
                  <li class="sidebar-item">
                    <a href="{{ url_site }}/admin/users" class="sidebar-link">
                      <i class="ti ti-circle"></i>
                      <span class="hide-menu">Usuários</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">Medicamentos</span>
                </a>

                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{{ url_site }}/medicines/inventory" class="sidebar-link">
                      <i class="ti ti-circle"></i>
                      <span class="hide-menu">Inventário</span>
                    </a>
                  </li>
                </ul>
              </li>