
<div class=" py-3 border-bottom">
    <div class="d-flex align-items-center px-3">
      <img src="{{ url_assets }}/images/profile/user-1.jpg" class="rounded-circle round-50" alt="" />
      <div class="ms-3">
        <h5 class="mb-1 fs-4">Markarn Doe</h5>
        <p class="mb-0 fs-2 d-flex align-items-center text-muted">
          markrarn@wrappixel.com
        </p>
      </div>
    </div>
  </div>
  
  <div class="message-body pb-3">
  <div class="px-3 pt-3">
    <div class="h6 mb-0 dropdown-item py-8 px-3 rounded-2 link">
      <a href="../horizontal/authentication-login.html" class=" d-flex  align-items-center ">
        Sign Out
      </a>
    </div>
  </div>
</div>