
            <!-- ---------------------------------- -->
            <!-- Home -->
            <!-- ---------------------------------- -->

            <li class="nav-small-cap">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">Personal</span>
              </li>
              <!-- ---------------------------------- -->
              <!-- Dashboard -->
              <!-- ---------------------------------- -->
              <li class="sidebar-item">
                <a class="sidebar-link" href="" id="get-url">
                  <iconify-icon icon="solar:screencast-2-linear" class="aside-icon"></iconify-icon>
                  <span class="hide-menu">General</span>
                </a>
              </li>