<div class="py-3 px-4 bg-primary">
    <div class="mb-0 fs-6 fw-medium text-white">Notifications</div>
    <div class="mb-0 fs-2 fw-medium text-white">You have 4 Notifications</div>
  </div>
  <div class="message-body" data-simplebar>
    <a href="javascript:void(0)" class="p-3 d-flex align-items-center  dropdown-item gap-3   border-bottom">
      <span class="flex-shrink-0 bg-primary-subtle rounded-circle round-40 d-flex align-items-center justify-content-center fs-6 text-primary">
        <iconify-icon icon="solar:widget-3-line-duotone"></iconify-icon>
      </span>
      <div class="w-80">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-1">Launch Admin</h6>
          <span class="fs-2 d-block text-muted ">9:30 AM</span>
        </div>
        <span class="fs-2 d-block text-truncate text-muted">Just see the my new admin!</span>
      </div>
    </a>
  </div>
  <div class="p-3">
    <a class="d-flex btn btn-primary  align-items-center justify-content-center gap-2" href="javascript:void(0);">
      <span>Check all Notifications</span>
      <iconify-icon icon="solar:alt-arrow-right-outline" class="iconify-sm"></iconify-icon>
    </a>
  </div>