{% extends "master/layout.html" %}

{% block maincontent %}

<div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
    <div class="card-body px-0">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="font-weight-medium  mb-0">Perfils de acesso: {{ record._id ? 'Atualizar' : 'Novo' }}</h4>
        </div>
        <div>
          <div class="d-sm-flex d-none gap-3 no-block justify-content-end align-items-center">
            <div class="d-flex gap-2">
                <a href="{{ route }}" class="btn btn-danger">Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card w-100 position-relative overflow-hidden">
    <div class="card-body p-4">
                         
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form method="POST" class="mt-3 form-horizontal">
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Nome</label>
                <div class="col-sm-9">
                    <input required name="name" type="text" class="form-control" id="name" value="{{ record.name }}" />
                </div>
            </div>
            <div class="row my-3">
              <label for="name" class="col-sm-3 col-form-label">Permissões</label>
              <div class="col-sm-9">
                {% for role in roles %}
                <div class="form-check">
                  <input name="roles[]" class="form-check-input" type="checkbox" value="{{ role }}" id="check-{{ role }}" {{ role in record.roles ? 'checked' }}>
                  <label class="form-check-label" for="check-{{ role }}">
                    {{ lang.roles[role] ?? role }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="row my-3">
                <div class="col-12 text-center">
                  <a href="{{ route }}" class="btn btn-danger">Cancelar</a>
                  <button type="submit" class="btn btn-dark">Salvar</button>
                </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  {% endblock %}