{% extends "master/layout.html" %}

{% block maincontent %}

{% include('inc/header-institution.html') %}

  <div class="card w-100 position-relative overflow-hidden">

    <div class="d-flex align-items-center justify-content-between p-4 border-bottom">
      <div>
        <h4 class="font-weight-medium mb-0">Novo pedido de medicamentos</h4>  
      </div>
      <div class="d-flex align-items-center gap-2">
        <a href="{{ route }}" class="btn btn-danger">Cancelar</a>
      </div>
    </div>

    <div class="card-body p-4">
      <div class="mt-2">

        <div class="d-table mx-auto">
          <div class="text-center">
            <small class="fs-2">Solicitação para:</small>  
          </div>
          <br />
          <div class="d-flex">
            <i class="ti ti-building fs-8 px-2 py-1"></i>
            <div class="">
              <h4 class="font-weight-medium mb-0">{{ supplier.name }}</h4>
              <small class="fs-2">{{ supplier.address.city }} ({{ supplier.unit.name }})</small>  
            </div>
          </div>
        </div>
      </div>
      <div class="wizard-content">
        <form method="post" action="" class="validation-wizard wizard-circle mt-3">
          <!-- Step 1 -->
          <h6>Seleção de medicamentos</h6>
          <section>
            <div class="row">
              <div class="col-12">
                <div class="alert alert-danger text-danger required-quantity" role="alert" style="display: none;">
                  <strong>Erro - </strong> Não é possível avançar sem ao menos 1 item da lista preenchido.
                </div>
              </div>
              <div class="col-12">
                
                <div class="table-responsive">
                  <table class="table table-sm table-hover text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="fs-4 fw-semibold mb-0">Medicamento</th>
                        <th class="fs-4 fw-semibold mb-0 w-20 text-center">Estoque Atual</th>
                        <th class="fs-4 fw-semibold mb-0 w-20 text-center">Qtde. solicitada</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in medicines %}
                      <tr>
                        <td class="py-2">
                          <p class="mb-0 fw-normal">{{ item.name }} ({{ item.code }})</p>
                          <small>{{ lang.medicines_category[item.category] }} / {{ lang.medicines_dosage_unit[item.dosage_unit] }} / {{ lang.medicines_presentation[item.presentation] }}</small>
                        </td>
                        <td class="text-center">
                          <p class="mb-0 fw-normal">{{ stocks[item._id].quantity ?? 0 }}</p>
                        </td>
                        <td class="text-center">
                          <input name="fld_quantity[{{ item._id }}]" type="number" step="1" min="0" value="0" class="form-control text-center fld_quantity" id="fld_quantity-{{ item._id }}" />
                        </td>
                      </tr>
                      {% else %}
                      <tr>
                        <td colspan="4" class="text-center">
                          -- Nenhum registro encontrado --
                        </td>
                      </tr>
                      {% endfor %}
          
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </section>
          <!-- Step 2 -->
          <h6>Endereço de Envio</h6>
          <section class="form-validation">
            <div class="row">
              <div class="col-md-8 mx-md-auto">
                <div class="form-group row my-2">
                  <label class="col-sm-4 col-form-label required" for="institution_name">Instituição receptora:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control required" id="institution_name" name="institution_name" />
                  </div>
                </div>
                <div class="form-group row my-2">
                  <label class="col-sm-4 col-form-label required" for="cnpj">CNPJ:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control required cnpj" id="cnpj" name="cnpj" />
                  </div>
                </div>
                <div class="form-group row my-2">
                  <label class="col-sm-4 col-form-label required" for="receiver_name">Responsável pelo recebimento:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control required" id="receiver_name" name="receiver_name" />
                  </div>
                </div>
                <div class="form-group row my-2">
                  <label for="phone" class="col-sm-4 col-form-label">Telefones</label>
                  <div class="col-sm-4 phone-place" id="institution-phones">
                  </div>
                </div>
                <div class="form-group row my-2">
                  <label class="col-sm-4 col-form-label required" for="email">E-mail:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control required" id="email" name="email" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-md-auto">
                
                <div id="institution-address">
                  {% include 'admin/helpers/address.html' with { data: record.location } %}
                </div>

                <div class="form-group row my-2">
                    <label for="city" class="col-sm-4 col-form-label">Unidade Administrativa:</label>
                    <div class="col-sm-8" id="administrative-unit">
                    </div>
                </div>
                
              </div>
            </div>
          </section>
          <!-- Step 3 -->
          <h6>Confirmar pedido</h6>
          <section>
            <div class="row">
              <div class="col-md-6 mx-md-auto">
                
                <div class="table-responsive">  

                  <table class="table table-sm mb-0">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th colspan="2" class="fs-4 fw-semibold mb-0 w-20 text-center">Confirmação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td class="form-label text-end" style="width: 50%;">Instituição receptora:</td>
                          <td class="confirm" id="institution_name-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">CNPJ:</td>
                          <td class="confirm" id="cnpj-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">Responsável pelo recebimento:</td>
                          <td class="confirm" id="receiver_name-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">Telefones:</td>
                          <td class="confirm" id="phones-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">Email:</td>
                          <td class="confirm" id="email-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">CEP:</td>
                          <td class="confirm" id="postal_code-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">Endereço:</td>
                          <td class="confirm" id="line_1-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">Endereço (Complemento):</td>
                          <td class="confirm" id="line_2-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">Cidade:</td>
                          <td class="confirm" id="city-confirm"><span></span></td>
                      </tr>
                      <tr>
                          <td class="form-label text-end">Unidade Administrativa:</td>
                          <td class="confirm" id="administrative_unit-confirm"><span></span></td>
                      </tr>
                    </tbody>
                  </table>
                
                  <table class="table table-sm table-hover text-nowrap mt-4 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="fs-4 fw-semibold mb-0" style="width: 50%;">Medicamento</th>
                        <th class="fs-4 fw-semibold mb-0 w-20 text-center">Qtde. solicitada</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in medicines %}
                      <tr>
                        <td class="py-2 text-end">
                          <p class="mb-0 fw-normal">{{ item.name }} ({{ item.code }})</p>
                          <small>{{ lang.medicines_category[item.category] }} / {{ lang.medicines_dosage_unit[item.dosage_unit] }} / {{ lang.medicines_presentation[item.presentation] }}</small>
                        </td>
                        <td class="text-center">
                          <label id="label-fld_quantity-{{ item._id }}-confirm">teste</label>
                        </td>
                      </tr>
                      {% else %}
                      <tr>
                        <td colspan="2" class="text-center">
                          -- Nenhum registro encontrado --
                        </td>
                      </tr>
                      {% endfor %}
          
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="{{ url_assets }}/libs/jquery-steps/build/jquery.steps.min.js"></script>
  <script src="{{ url_assets }}/libs/jquery-validation/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="{{ url_assets }}/libs/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
  <script src="{{ url_assets }}/js/pnmp/PnmpAddressField.class.js" type="text/javascript"></script>
  <script src="{{ url_assets }}/js/pnmp/PnmpPhoneField.class.js" type="text/javascript"></script>
  <script src="{{ url_assets }}/js/pnmp/PnmpSelectFieldMultilevel.class.js?id=5" type="text/javascript"></script>

  <script>
    

  var form = $(".validation-wizard").show();

  $(".validation-wizard").steps({
    headerTag: "h6",
    bodyTag: "section",
    transitionEffect: "fade",
    titleTemplate: '<span class="step">#index#</span> #title#',
    labels: {
      next: 'Próximo',
      previous: 'Anterior',
      finish: "Confirmar!",
    },
    onStepChanging: function (event, currentIndex, newIndex) {
      validationForm();

      if(currentIndex < newIndex && currentIndex == 0) {
        let total = 0;
        $(".fld_quantity").each(function() {
          let i = $(this);
          total += i.val();
          $("#label-" + i.attr('id') + "-confirm").text(i.val());
        });

        if(total == 0) {
          $(".required-quantity").css('display','');
          return false;
        }

        $(".required-quantity").css('display','none');
        return true;
      }

      if(currentIndex < newIndex && currentIndex == 1) {
        form.find("input").each(function() {
          let i = $(this);
          if(i.attr('name').indexOf('phones') !== -1) {
            return;
          }
          $("#" + i.attr('name') + "-confirm span").text(i.val());
        });
         
        form.find("input[name='phones[]']").each(function() {
          let i = $(this);
          $("#phones-confirm span").append(i.val() + "<br/>");
        });
         
         form.find("select[name='administrative_unit[]']").each(function() {
           let i = $(this).find(":selected");
           $("#administrative_unit-confirm span").append(i.text() + "<br/>");
         });
      } else {
        $(".confirm span").text("");
        $("#phones-confirm span").text("");
        $("#email-confirm span").text("");
        $("#administrative_unit-confirm span").text("");
      }

      if(currentIndex > newIndex) {
        return true;
      }

      
      form.find(".body:eq(" + newIndex + ") label.error").remove();
      form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
      form.validate().settings.ignore = ":disabled,:hidden";

      let valReturn = (currentIndex < newIndex && form.valid());

      if(valReturn == false) {
        $(".confirm span").text("");
        $("#phones-confirm span").text("");
        $("#email-confirm span").text("");
        $("#administrative_unit-confirm span").text("");
      }

      return valReturn;
    },
    onFinishing: function (event, currentIndex) {
      return (form.validate().settings.ignore = ":disabled"), form.valid();
    },
    onFinished: function (event, currentIndex) {
      $(".validation-wizard").submit()
    },
  });

  var validationForm = () => {
    $(".validation-wizard").validate({
      ignore: "input[type=hidden]",
      errorClass: "text-danger",
      successClass: "text-success",
      highlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      unhighlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      errorPlacement: function (error, element) {
        error.insertAfter(element);
      },
      rules: {
        email: {
          email: !0,
        },
      },
    });
  }

  
    
  (function(){
    validationForm();

    addressinstitution = PnmpAddressField.init("institution-address");

    phonesinstitution = PnmpPhoneField.init("institution-phones", "phones", "phonesinstitution");
    {% if record.phones|length > 0  %}
      phonesinstitution.loadData(['{{ record.phones|join("','")|raw }}'])
    {% endif %}

    adminunit = new PnmpSelectFieldMultilevel(
    "{{ url_site }}/api/administrative-units/by-parent-id", // URL API Parent
    "{{ url_site }}/api/administrative-units/parents-by-id", // URL API Unique
      "adminunit", // Local variable name
      "administrative-unit", // ID of the place to add field
      "administrative_unit", // Field Name
      true
    );
    adminunit.init('{{record.administrative_unit}}');

  })();

  </script>
{% endblock %}