{% extends "master/layout.html" %}

{% block maincontent %}

<div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
    <div class="card-body px-0">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="font-weight-medium  mb-0">Instituições</h4>
        </div>
        <div>
          <div class="d-sm-flex d-none gap-3 no-block justify-content-end align-items-center">
            <div class="d-flex gap-2">
              {% if 'INST_ADD'|hasRole %}<a href="{{ route }}/insert" class="btn btn-dark">Novo</a>{% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card w-100 position-relative overflow-hidden">
    <div class="card-body p-4">
    
        <div class="collapsible-section mb-4">
            <div class="accordion accordion-flush position-relative overflow-hidden" id="accordionSearch">
              <div class="accordion-item mb-3 shadow-none border rounded-top">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button fs-4 fw-semibold px-3 py-6 lh-base border-0 rounded-top {{ not searchActive ? 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="{{ searchActive ? 'true' : 'false' }}" aria-controls="flush-collapseOne">
                    Pesquisar
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse {{ searchActive ? 'show' }}" aria-labelledby="flush-headingOne" data-bs-parent="#accordionSearch">
                  <div class="accordion-body px-3 fw-normal">
                    <form method="get">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="mb-4">
                          <label for="name" class="form-label">Nome</label>
                          <input name="name" value="{{ searchFilter.name }}" type="text" class="form-control" id="name" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="mb-4">
                          <label for="city" class="form-label">Cidade</label>
                          <input name="city" value="{{ searchFilter.city }}" type="text" class="form-control" id="city" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="mb-4">
                            {% if searchActive %}
                            <a href="{{ route }}" class="btn btn-primary">Reiniciar pesquisa</a>
                            {% endif %}
                          </div>
                        </div>
                        <div class="col-6 text-end">
                          <div class="mb-4">
                            <button type="submit" class="btn btn-dark">Pesquisar</button>
                          </div>
                        </div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <div class="table-responsive mb-4 border rounded-1">
        <table class="table table-hover text-nowrap mb-0 align-middle">
          <thead class="text-dark fs-4">
            <tr>
              <th>
                <h6 class="fs-4 fw-semibold mb-0">Código</h6>
              </th>
              <th>
                <h6 class="fs-4 fw-semibold mb-0">Nome</h6>
              </th>
              <th>
                <h6 class="fs-4 fw-semibold mb-0 text-center">Tipo</h6>
              </th>
              <th>
                <h6 class="fs-4 fw-semibold mb-0">Informações</h6>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in records %}
            <tr>
              <td>
                <p class="mb-0 fw-normal">{{ item.code }}</p>
              </td>
              <td>
                <p class="mb-0 fw-normal">{{ item.name }}</p>
              </td>
              <td class="text-center">
                {% for type in item.types %}
                {% set color = (type == "NOTIFICATION" ? 'warning' : (type == "TREATMENT" ? 'primary' : 'secondary')) %}
                <span class="badge bg-{{ color }}-subtle text-{{ color }} mb-1 fs-2 gap-1 d-inline-flex align-items-center">
                  {{ lang.institution_types[type] }}
                </span> {{ type == 'MEDICINE_STORE' and item.institution_supplier ? item.supplier.name }}  <br />
                {% endfor %}
              </td>
              <td>
                <p class="mb-0 fw-normal fs-1">
                  {{ item.phone }} / {{ item.postal_code }} / {{ item.city }}</p>
              </td>
              <td class="text-end">
                <div class="btn-group mb-2" role="group" aria-label="Action Group">
                  {% if  'INST_UPD'|hasRole %}<a href="{{ route }}/{{ item._id }}" class="btn btn-dark"><i class="ti ti-edit fs-4"></i></a>{% endif %}
                  {% if  'INST_DEL'|hasRole %}<a href="{{ route }}/delete/{{ item._id }}" class="btn btn-danger confirm-delete"><i class="ti ti-trash fs-4"></i></a>{% endif %}
                </div>
              </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="4" class="text-center">
                -- Nenhum registro encontrado --
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock %}