<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/png" href="{{ url_assets }}/images/logos/favicon.png" />

  <!-- Core Css -->
  <link rel="stylesheet" href="{{ url_assets }}/css/styles.css" />

  <title>MaterialPro Template by WrapPixel</title>
</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <img src="{{ url_assets }}/images/logos/logo-icon.svg" alt="loader" class="lds-ripple img-fluid" />
  </div>
  <div id="main-wrapper" class="auth-customizer-none">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100">
      <div class="position-relative z-index-5">
        <div class="row">
          <div class="col-xl-5 col-xxl-4">
            <div class="authentication-login min-vh-100 bg-body row justify-content-center">
              <div class="col-12">
                <a href="../main/index.html" class="text-nowrap logo-img d-flex align-items-center gap-2 px-4 py-9 w-100">
                  <b class="logo-icon">
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="{{ url_assets }}/images/logos/logo-icon.svg" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="{{ url_assets }}/images/logos/logo-light-icon.svg" alt="homepage" class="light-logo" />
                  </b>
                  <!--End Logo icon -->
                  <!-- Logo text -->
                  <span class="logo-text">
                    <!-- dark Logo text -->
                    <img src="{{ url_assets }}/images/logos/logo-text.svg" alt="homepage" class="dark-logo ps-2" />
                    <!-- Light Logo text -->
                    <img src="{{ url_assets }}/images/logos/logo-light-text.svg" class="light-logo ps-2" alt="homepage" />
                  </span>
                </a>
              </div>
              <div class="auth-max-width col-sm-8 col-md-6 col-xl-7 px-4">
                <h2 class="mb-1 fs-7 fw-bolder">Welcome to MaterialPro</h2>
                <p class="mb-7">Your Admin Dashboard</p>
                
                <div class="position-relative text-center my-4">
                  <p class="mb-0 fs-4 px-3 d-inline-block bg-white text-dark z-index-5 position-relative">or sign
                    in
                    with</p>
                  <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                </div>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark fs-3" for="flexCheckChecked">
                        Remeber this Device
                      </label>
                    </div>
                  </div>
                  <a href="../main/index.html" class="btn btn-primary w-100 py-8 mb-4 ">Sign In</a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-xxl-8 d-none d-xl-block">
            <div class="d-none d-xl-flex align-items-center justify-content-center h-100">
              <img src="{{ url_assets }}/images/backgrounds/user-login.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <!-- Import Js Files -->
  <script src="{{ url_assets }}/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_assets }}/js/theme/app.horizontal.init.js"></script>
  <script src="{{ url_assets }}/js/theme/theme.js"></script>
  <script src="{{ url_assets }}/js/theme/app.min.js"></script>
  <script src="{{ url_assets }}/js/theme/feather.min.js"></script>

  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>

</html>